@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;

}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
/* ***************** NAVBAR ***************** */
nav {
    overflow: hidden;
    background-color: wheat;
    position: fixed;
    width: 100%;
    opacity: 0.9;

}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
/* ***************** IMAGE PRINCIPALE ***************** */
 #imagePrincipale {
     padding-top: 60px;
     background: url(media/217609883_2166682093512816_8969816698210649498_n.jpg) no-repeat fixed 50% 50%;
     background-size: cover;
     height: 799px;
 }
 h1 {
     font-family: 'Dancing Script', cursive;
     text-align: center;
     color: black ;
     font-size: 6em;
     margin-top: 60px;
     text-shadow: 1px 3px 2px white;
 }
 #premierTrait {
     height: 2px;
     width: 20%;
     margin: -3px auto;
     background-color: black;
     box-shadow: 1px 3px 2px white;
 }
 h3 {
     text-align: center;
     color: black;
     font-size: 3em;
     text-shadow: 1px 3px 2px white;
 }
 /* ***************** PRESENTATION ***************** */
 #presentation {
     background-color: wheat;
     padding: 10px 0px 100px 0;
 }
 #textIntro {
     padding: 0px 20%;
 }
 #prestations {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 30px 10%;
 }
 .imagesPrestations h4 {
     font-family: 'Dancing Script',cursive;
     text-align: center;
     font-size: 3em;
     margin: 15px;
     font-weight: 300;
 }
.imagesPrestations img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
}
.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* ***************** RESTAURANT ***************** */
#restaurant {
    height: 2500px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}
#restaurant h2 {
    padding: 60px;
}
#pain {
    background: url(media/292e286bfde410d1d5cece5daa64464c.jpg);
}
#viande {
    background: url(media/42d791dd62a56f595dca96d65663512e.jpg);
}
#sauces {
    background: url(media/be4f094b283595d4627799d5371666c2.jpg);
}
#salade {
    background: url(media/25e8162f41a83798f2f512082ff29d90.jpg);
}
#restaurant li {
    margin: 65px 100px 0 100px;
    height: 500px;
    width: 80%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}
#restaurant p {
    height: 45px;
    width: 235px;
    background-color: white;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px wheat;
    
} 
#restaurant #viande, #restaurant #salade {
    float: right;
}
#viande p, #salade p {
    float: left;
    background-color: white;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px wheat;
}
/* ***************** FOOTER ***************** */
footer {
    background-color: wheat;
    color: black;
    padding: 20px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover {
    background-color: black;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: black;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: black;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: black;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}















