*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	text-transform: capitalize;
	text-decoration: none;
	transition:all 0.4s cubic-bezier(0,1.57,.67,1.18);
}
.text{
	background:#d9d9d9 ;
	height: 60px;
}
.text h2{
	text-align: center;
	color:  #666;
	font-size: 40px;
}
.text span{
	color: orange;
	font-size: 40px;
}
.text  h2:before{
	content: '';
	position: absolute;
	top:45px; 
	left: 250;
	width: 65px;
	height: 2.9px;
	background: orange;
}
.box-container{
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap:wrap;
	background: #d9d9d9;
}
.box{
    flex:1 1 300px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.box .image{
	padding: 10px;
	background: #eee;
	text-align: center;
}
.box .image img{
	height: 250px;
	width: 390px;
    /*object-fit:cover;
	filter:drop-shadaw(0 3px 5px rgba(0,0,0,.7);*/
}
.box .info .title  { 
	padding: 10px;
	color: #666;
	font-size: 20px;
}

.box .info .subInfo{ 
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding: 15px 10px;
	border-top: 1px solid rgba(0,0,0,.3);
}
.box .info .subInfo .price{
	color: #ff3300;
	font-size: 20px;
}
.box .info .subInfo .price span{
	font-size: 15px;
    color: #999;
    text-decoration: line-through;
}
.box .info .subInfo .stars i{
    color: orange;
    font-size: 17px;
}
.box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 223px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	transition:none;
}
.box .overlay a{
	color: #666;
	background: #fff;
	margin: 10px;
	padding: 13px 15px;
	font-size: 25px;
	transform: translateY(-150px);
	transition-property:transform;
	transition-delay:calc(.1s * var(--i));
}
.box .overlay a:hover{
	color: orange;
}
.box:hover .overlay a{
    transform: translateY(0px);	
}
.copyrightText{
	width: 100.01%;
	background:#181818;
	padding: 8px 100px;
	text-align: center;
	color: #999;
}
.copyrightText span{
	color: red;
	font-size: 20px;
}