
.psudo-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    overflow: auto;
}
.psudo-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top:80px ;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top:  0 ;
}
.about-col p{
    padding:15px 0px 25px;
}
#red-btn
{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
#red-btn:hover{
    background:#f44336 ;
    color: white;
}
.crs {
    margin-top: 75px;
}
@media (max-width:700px) {
    body{
        overflow-x: hidden;
    }
    #navlinks{
        position: fixed;
    }
    #fa-bars{
        color: white;
        position: fixed;
        right: 7.3%;
        padding: 1% 1.5%;
        border-radius: 12%;
        background:#f44336 ;
    }
}
