//COLORS 
$lightGreen : rgb(20, 223, 178);
$lighterGreen : rgb(173, 217, 207);
$lighterGreenOpacity:rgba(173, 217, 207,0.9);
$darkGreen : rgb(6, 56, 45);
$lightBlue : rgb(29, 171, 233);
$lightBlueOpacity:rgba(29, 172, 233, 0.3);
$darkBlue :rgb(19, 99, 133);
$black : rgb(0,0,0);
$darkGrey :rgb(60, 60, 60);
$lightGrey :rgb(212, 212, 212);
$veryLightGrey:rgb(250, 250, 250);
$white : rgb(255,255,255);

//FONT SIZES
$font-xs : 0.75rem; //12px
$font-sm : 1rem; //16px
$font-md : 1.5rem; //24px
$font-lg : 2rem; //28px
$font-xl : 3rem; //32px
$font-xxl : 4rem; //40px
